<!-- ======= About Section ======= -->
<section id="about" class="about ">
  <header class="section-header">
    <p class="text-dark">WE HAVE WHAT'S NEW</p>
  </header>
  <div class="container" data-aos="fade-up">
    <div class="row gx-0 ms-5">
      <div class="card col  align-items-center m-4 border border-0" style="width: 30rem; ">
        <img src="/assets/img/bn2.jpg" class="card-img-center   border border-4 rounded-4 w-100 p-2 h-75" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card col  align-items-center m-4 border border-0" style="width: 30rem;">
        <img src="/assets/img/bn4.jpg" class="card-img-center border border-4 rounded-4  w-100 p-2 h-75" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card col  align-items-center m-4 border border-0" style="width: 30rem;">
        <img src="/assets/img/bn7.jpg" class="card-img-center border border-4 rounded-4  w-100 p-2 h-75" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>

</section><!-- End About Section -->
<!-- Product -->
<!-- ======= Values Section ======= -->
<section id="values" class="values">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <p class="text-dark">BEST SELLER</p>
    </header>
    <div class="row ms-5">
      <div class="col-lg-4 mb-3" data-aos="fade-up" data-aos-delay="200" ng-repeat="pr in itemsBs">
        <div class="box">
          <a ng-href="#/product-detail/{{pr.id}}" class="image-container">
            <img ng-src="{{'assets/img/product/sp1/' + pr.product.listImage[0].link }}" class="img-fluid w-100"
              alt="{{pr.product.listImage[0].link}}">
          </a>
          <!-- button animation flip
                 <div class="overlay">
                <button ng-click="addCart(quantity)" class="border-0 btn-flip" data-back="Thêm vào giỏ hàng" data-front=" "></button>
              </div> -->
          <a ng-href="#/product-detail/{{pr.id}}" class="image-container">
            <h5 class="align-items-left">{{pr.product.name}}</h5>
            <p>{{pr.product.category.name}}</p>
            <p class="col text-dark mb-1">{{pr.price | vndCurrency }}</p>
          </a>

        </div>
      </div>
    </div>

  </div>

</section>

<!-- ======= PROMOTIONAL Section ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <p class="text-dark">PROMOTIONAL PRODUCTS</p>
    </header>
    <div class="row ms-5">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <img src="assets/img/dep1.jpg" class="img-fluid" alt="">
          <h5 class="align-items-left">ClownZ Slipper Full box</h5>
          <p>Man’s Shoes</p>
          <p>1 colours
          <p>
          <div class="row">
            <P class="col text-danger ">1,099,000đ</P>
            <P class="col text-decoration-line-through">1,499,000đ</P>
          </div>

        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
        <div class="box">
          <img src="assets/img/depNu2.jpg" class="img-fluid" alt="">
          <h5>Voluptatem voluptatum alias</h5>
          <p>Man’s Shoes</p>
          <p>1 colours
          <p>
          <div class="row">
            <P class="col text-danger ">1,099,000đ</P>
            <P class="col text-decoration-line-through">1,499,000đ</P>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
        <div class="box">
          <img src="assets/img/sepKid.jpg" class="img-fluid" alt="">
          <h5>Fugit cupiditate alias nobis.</h5>
          <p>Man’s Shoes</p>
          <p>1 colours
          <p>
          <div class="row">
            <P class="col text-danger ">1,099,000đ</P>
            <P class="col text-decoration-line-through">1,499,000đ</P>
          </div>
        </div>
      </div>

    </div>


</section><!-- End PROMOTIONAL Section -->