.custom-dropdown-sell {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.dropdown-content-sell {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px;
    z-index: 3;
    overflow-y: auto;
    /* Enable vertical scrollbar */
    max-height: 400px;
    /* Set maximum height */

}

.custom-dropdown-sell:hover .dropdown-content-sell {
    display: block;
}

.prName-sell {
    font-weight: bold;
}

.input-group button {
    width: 30px;
    height: 30px;
    align-items: center;
    border: 1 #878b8f;
    background-color: #ffffff;
}

.input-group input {
    width: 15%;
    height: 30px;
    text-align: center;
}

.input-group {
    text-align: center;
    justify-content: center;
}

.custom-dropdown-sell {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.dropdown-content-user {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px;
    z-index: 3;
    overflow-y: auto;
    /* Enable vertical scrollbar */
    max-height: 400px;
    /* Set maximum height */

}

.custom-dropdown-user:hover .dropdown-content-user {
    display: block;
}