
      
          <div class="col-lg-12 grid-margin stretch-card" >
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Color table</h4>

                <!-- <button class="btn-primary"  id="add-icon" ng-click="toggleForm()" >
                  <i class="fa-solid fa-plus fa-sx" style="color: #ffffff;"></i>
                  Add New User</button> -->
            

                <div class="search-container">
                  <input type="text" id="btn-search" ng-model="searchText" placeholder="Search a Color">
                  <i class="fa-light fa-magnifying-glass"></i>
                </div>

                <div class="btn-group">

                  <button type="button" id="btn-icon" class="btn btn-secondary" ng-click="toggleForm()">
                    <i class="fa-solid fa-plus fa-lg" style="color: #ffffff;"></i></button>
                        
                <button type="button" id="btn-icon" class="btn btn-secondary" ng-click="exportToPDF();">
                       PDF                                                                  
                </button>
               
                <input type="file"   id="input-file" onchange="angular.element(this).scope().import(this.files)" style="display:none;">
                <button type="button" id="btn-icon" class="btn btn-secondary " onclick="triggerFileInput()">
                   Upload
                </button>
                
                <button type="button" id="btn-icon" class="btn btn-secondary" ng-click="exportToExcel()"> Excel</button>
                <button type="button" id="btn-icon" class="btn btn-secondary" ng-click="exportToSVG()">SVG</button>
             

                </div>
                <!-- <input  type="file" id="input-file" onchange="angular.element(this).scope().import(this.files)"> -->


                

               
  
              <!-- start table -->
                <div class="table-responsive pt-3" >
                  <table  class="display expandable-table"
                  style="width: 100%"  id="UserTable">
                    <thead>
                        <tr>
                          <th  ng-click="sortData('id')">#<span class="{{getSortClass('id')}}"></span></th>
                          <th ng-click="sortData('name')">Tên màu sắc<span class="{{getSortClass('name')}}"></span></th>
                          <th ng-click="sortData('name')">Trạng thái<span class="{{getSortClass('name')}}"></span></th>
                          <th name="Action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in listColor | filter:searchText | orderBy:sortColumn:reverseSort">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.status}}</td>
                            <td>
                                <a href="#" ng-click="toggleFormUpdate($event,item)" style="text-decoration: none; color: #1545e1;"><i class="fa-solid fa-pen-to-square "></i> </a>
                                <a href="#" ng-click="removeColor($event,item)" style="text-decoration: none; color: #FC424A;"> <i class="fas fa-fw  fa-trash "></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>    
                  <!-- phân trang -->
                  <nav id="phantrang" aria-label="Page navigation example" style="color: #000000;">

                    <p style="margin-top: 20px;">Đang xem {{listColor[0].id}} đến {{lastIndex}} trong tổng số {{sizePage}} mục</p>
                    <!-- Phân trang -->
                    <ul class="pagination justify-content-end" style="margin-top: 20px;">
                        <!-- Các nút phân trang ở đây -->
                        <li class="page-item" ng-class="{ 'disabled': pageCurrent === 0, 'hovered': hoveredPage === 'previous' }">
                          <a class="page-link" ng-click="previousPage()" ng-class="{ 'disabled-link': pageCurrent === 0 }" ng-mouseenter="onHover('previous')" ng-mouseleave="onLeave()"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                        <li class="page-item" ng-repeat="page in pageRange()" ng-class="{ 'active': page === pageCurrent, 'hovered': hoveredPage === page }">
                          <a class="page-link" ng-click="PageNo(page, sizePage)" ng-mouseenter="onHover(page)" ng-mouseleave="onLeave()">{{ page }}</a>
                      </li>
                      
                        <li class="page-item" ng-class="{ 'disabled': pageCurrent === totalPage - 1, 'hovered': hoveredPage === 'next' }">
                          <a class="page-link" ng-click="nextPage()" ng-class="{ 'disabled-link': pageCurrent === totalPage - 1 }" ng-mouseenter="onHover('next')" ng-mouseleave="onLeave()"> <span aria-hidden="true">&raquo;</span></a>
                        </li>
                    </ul>
                       </nav>  

                    <div id="sizePage">
                        <label for="itemsPerPage">Xem:</label>
                        <select id="itemsPerPage" ng-model="sizePage" ng-init="sizePage = '5'" ng-change="onSizePageChange()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="100">100</option>
                        </select>
                        <label for="itemsPerPage">mục</label>
                    </div>
                    <!-- kết thúc phân trang -->

                </div>
              </div>
            </div>
          </div>
          <!-- end table -->

          <!-- form add -->
          <div class="col-12 grid-margin stretch-card" ng-if="showForm">
            <div class="card">
              <div class="card-body">                
                <form class="forms-sample" >
                  <div class="form-group">
                    <input type="hidden" class="form-control"  ng-model="formcolor.id">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputMiddleName">Tên màu sắc</label>
                    <input type="text" class="form-control" id="exampleInputMiddleName" placeholder="Họ và Tên"  ng-model="formcolor.name">
                  </div>
                
                    
                
                    <div class="form-group">
                        <label for="exampleSelectGender">Trạng thái</label>
                        <select class="form-control" id="exampleSelectGender" ng-model="formcolor.status">
                          <option value="" disabled>-- Chọn trạng thái --</option>
                            <option value="true" ng-selected="formcolor.status == 'true'">Đang hoạt động</option>
                            <option value="false" ng-selected="formcolor.status == 'false'">Ngừng hoạt động</option>
                        </select>
                    </div>
                    
                  <button id="btn-action-add"  ng-click="addColor($event)">Submit</button>
                  <button id="btn-action-cancel"  ng-click="toggleForm()">Cancel</button>
                </form>
              </div>
            </div>
          </div>

          
          <!-- form update -->
          <div class="col-12 grid-margin stretch-card" ng-if="showFormUpdate">
            <div class="card">
              <div class="card-body">                
                <form class="forms-sample" >
                  <div class="form-group">
                    <input type="hidden" class="form-control"  ng-model="formColorUpdate.id">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputMiddleName">Tên màu sắc</label>
                    <input type="text" class="form-control" id="exampleInputMiddleName" placeholder="Họ và Tên" required ng-model="formColorUpdate.name">
                  </div>
                
                    <div class="form-group">
                        <label for="exampleSelectGender">Trạng thái</label>
                        <select class="form-control" id="exampleSelectGender" ng-model="formColorUpdate.status" ng-options="status as (status ? 'Đang hoạt động' : 'Ngừng hoạy động') for status in [true, false]">
                        </select>
                      </div>
                    
                  <button id="btn-action-add"  ng-click="UpdateColor($event)">Submit</button>
                  <button id="btn-action-cancel"  ng-click="toggleForm()">Cancel</button>
                </form>
              </div>
            </div>
          </div>

          <div class="import-container">
            <div ng-show="importing" class="import-animation"></div>
            <p ng-show="importing">Processing...</p>
        </div>

       <Script>
        function triggerFileInput() {
          // Kích hoạt sự kiện click trên input-file
           document.getElementById('input-file').click();}

       </Script>
       
               
          