
      
          <div class="col-lg-12 grid-margin stretch-card" >
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">User table</h4>

                <!-- <button class="btn-primary"  id="add-icon" ng-click="toggleForm()" >
                  <i class="fa-solid fa-plus fa-sx" style="color: #ffffff;"></i>
                  Add New User</button> -->
            

                <div class="search-container">
                  <input type="text" id="btn-search" ng-model="searchText" placeholder="Search a User">
                  <i class="fa-light fa-magnifying-glass"></i>
                </div>

                <div class="btn-group">

                  <button type="button" id="btn-icon" class="btn btn-secondary" ng-click="toggleForm()">
                    <i class="fa-solid fa-plus fa-lg" style="color: #ffffff;"></i></button>
                        
                <button type="button" id="btn-icon" class="btn btn-secondary" ng-click="exportToPDF();">
                       PDF                                                                  
                </button>
               
                <input type="file"   id="input-file" onchange="angular.element(this).scope().import(this.files)" style="display:none;">
                <button type="button" id="btn-icon" class="btn btn-secondary " onclick="triggerFileInput()">
                   Upload
                </button>
                
                <button type="button" id="btn-icon" class="btn btn-secondary" ng-click="exportToExcel()"> Excel</button>
                <button type="button" id="btn-icon" class="btn btn-secondary" ng-click="exportToSVG()">SVG</button>
             

                </div>
                <!-- <input  type="file" id="input-file" onchange="angular.element(this).scope().import(this.files)"> -->


                

               
  
              <!-- start table -->
                <div class="table-responsive pt-3" >
                  <table  class="display expandable-table"
                  style="width: 100%"  id="UserTable">
                    <thead>
                        <tr>
                          <th  ng-click="sortData('id')">#<span class="{{getSortClass('id')}}"></span></th>
                          <th ng-click="sortData('name')">Họ và Tên<span class="{{getSortClass('name')}}"></span></th>
                          <th ng-click="sortData('dateOfBirth')">Ngày Sinh<span class="{{getSortClass('dateOfBirth')}}"></span></th>
                          <th ng-click="sortData('gender')">Giới Tính<span class="{{getSortClass('gender')}}"></span></th>
                          <th  style="text-align: center;" ng-click="sortData('address')">Địa Chỉ<span class="{{getSortClass('address')}}"></span></th>
                          <th ng-click="sortData('email')">Email<span class="{{getSortClass('email')}}"></span></th>
                          <th ng-click="sortData('phoneNumber')">Số Điện Thoại<span class="{{getSortClass('phoneNumber')}}"></span></th>
                          <th name="Action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in listUSers | filter:searchText | orderBy:sortColumn:reverseSort">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.dateOfBirth.substring(0, 10)}}</td>
                            <td style="text-align: center;">{{item.gender == true ? 'nam' : 'nữ'}}</td>
                            <td style="text-align: center;" >{{item.address}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.phoneNumber}}</td>
                            <td>
                                <a href="#" ng-click="toggleFormUpdate($event,item)" style="text-decoration: none; color: #1545e1;"><i class="fa-solid fa-pen-to-square "></i> </a>
                                <a href="#" ng-click="removeStaff($event,item)" style="text-decoration: none; color: #FC424A;"> <i class="fas fa-fw  fa-trash "></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>    
                  <!-- phân trang -->
                  <nav id="phantrang" aria-label="Page navigation example" style="color: #000000;">

                    <p style="margin-top: 20px;">Đang xem {{listUSers[0].id}} đến {{lastIndex}} trong tổng số {{sizePage}} mục</p>
                    <!-- Phân trang -->
                    <ul class="pagination justify-content-end" style="margin-top: 20px;">
                        <!-- Các nút phân trang ở đây -->
                        <li class="page-item" ng-class="{ 'disabled': pageCurrent === 0, 'hovered': hoveredPage === 'previous' }">
                          <a class="page-link" ng-click="previousPage()" ng-class="{ 'disabled-link': pageCurrent === 0 }" ng-mouseenter="onHover('previous')" ng-mouseleave="onLeave()"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                        <li class="page-item" ng-repeat="page in pageRange()" ng-class="{ 'active': page === pageCurrent, 'hovered': hoveredPage === page }">
                          <a class="page-link" ng-click="PageNo(page, sizePage)" ng-mouseenter="onHover(page)" ng-mouseleave="onLeave()">{{ page }}</a>
                      </li>
                      
                        <li class="page-item" ng-class="{ 'disabled': pageCurrent === totalPage - 1, 'hovered': hoveredPage === 'next' }">
                          <a class="page-link" ng-click="nextPage()" ng-class="{ 'disabled-link': pageCurrent === totalPage - 1 }" ng-mouseenter="onHover('next')" ng-mouseleave="onLeave()"> <span aria-hidden="true">&raquo;</span></a>
                        </li>
                    </ul>
                       </nav>  

                    <div id="sizePage">
                        <label for="itemsPerPage">Xem:</label>
                        <select id="itemsPerPage" ng-model="sizePage" ng-init="sizePage = '5'" ng-change="onSizePageChange()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="100">100</option>
                        </select>
                        <label for="itemsPerPage">mục</label>
                    </div>
                    <!-- kết thúc phân trang -->

                </div>
              </div>
            </div>
          </div>
          <!-- end table -->

          <!-- form add -->
          <div class="col-12 grid-margin stretch-card" ng-if="showForm">
            <div class="card">
              <div class="card-body">                
                <form class="forms-sample" >
                  <div class="form-group">
                    <input type="hidden" class="form-control"  ng-model="formUser.id">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputMiddleName">Tên Khách Hàng</label>
                    <input type="text" class="form-control" id="exampleInputMiddleName" placeholder="Họ và Tên" required ng-model="formUser.name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDate">Ngày Sinh</label>
                    <input type="text" class="form-control" id="exampleInputDate" placeholder="VD : 03/10/2003" ng-model="formUser.dateOfBirth">
                  </div>
                  <div class="form-group">
                    <label for="exampleSelectGender">Giới Tính</label>
                    <select class="form-control" id="exampleSelectGender" ng-model="formUser.gender">
                      <option value="" disabled>-- Chọn Giới Tính --</option>
                        <option value="true" ng-selected="formUser.gender === 'true'">Nam</option>
                        <option value="false" ng-selected="formUser.gender === 'false'">Nữ</option>
                    </select>
                </div>
                
                    <div class="form-group">
                      <label for="exampleInputEmail">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" required ng-model="formUser.email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputSDT">Số Điện Thoại</label>
                      <input type="text" class="form-control" id="exampleInputSDT" placeholder="Phone Number" ng-model="formUser.phoneNumber">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputAddress">Địa Chỉ</label>
                      <input type="text" class="form-control" id="exampleInputAddress" placeholder="VD : 123 Đường ABC, Quận 1, TP.HCM"  ng-model="formUser.address">
                    </div>

                  <button id="btn-action-add"  ng-click="addUser($event)">Submit</button>
                  <button id="btn-action-cancel"  ng-click="toggleForm()">Cancel</button>
                </form>
              </div>
            </div>
          </div>

          
          <!-- form update -->
          <div class="col-12 grid-margin stretch-card"  ng-show="showFormUpdate">
            <div class="card">
              <div class="card-body">                
                <form class="forms-sample">
                  <div class="form-group">
                    <input type="hidden" class="form-control" ng-model="formUserUpdate.id">
                    <input type="hidden" class="form-control" ng-model="formUserUpdate.createdDate">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputMiddleName">Tên Khách Hàng</label>
                    <input type="text" class="form-control" id="exampleInputMiddleName" placeholder="Họ và Tên" required ng-model="formUserUpdate.name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDate">Ngày Sinh</label>
                    <input type="text" class="form-control" id="exampleInputDate" placeholder="VD : 03/10/2003" ng-model="formUserUpdate.dateOfBirth">
                  </div>
                  <div class="form-group">
                    <label for="exampleSelectGender">Giới Tính</label>
                    <select class="form-control" id="exampleSelectGender" ng-model="formUserUpdate.gender" ng-options="gender as (gender ? 'Nam' : 'Nữ') for gender in [true, false]">
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" required ng-model="formUserUpdate.email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputSDT">Số Điện Thoại</label>
                    <input type="text" class="form-control" id="exampleInputSDT" placeholder="Phone Number" ng-model="formUserUpdate.phoneNumber">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputAddress">Địa Chỉ</label>
                    <input type="text" class="form-control" id="exampleInputAddress" placeholder="VD : 123 Đường ABC, Quận 1, TP.HCM" ng-model="formUserUpdate.address">
                  </div>
                  <button id="btn-action-add" ng-click="UpdateUser($event)">Submit</button>
                  <button id="btn-action-cancel" ng-click="toggleFormUpdate($event, null)">Cancel</button>
                </form>
              </div>
            </div>
          </div>

          <div class="import-container">
            <div ng-show="importing" class="import-animation"></div>
            <p ng-show="importing">Processing...</p>
        </div>

       <Script>
        function triggerFileInput() {
          // Kích hoạt sự kiện click trên input-file
           document.getElementById('input-file').click();}

       </Script>
       
               
          